:root {
  --black: #15202b;
  --green: #17bf63;
  --greenDark: #17bf63cc;
  --white: #ffffff;
  --gray: #2d373f;
  --red: #e0245e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--gray);
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
